/* ------------GENERAL START ------------- */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#contentDivLanding {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: no-repeat center center fixed;
    background-size: cover;
    background-image: url("../assets/background-pizza.jpg");
}

#contentDivMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background: no-repeat center center fixed;
    background-size: cover;
    background-image: url("../assets/vegetable-bg.jpg");
}

/* ------------GENERAL END ------------- */
