@import url(./poppins-loader.css);

/* ------------HEADER START ------------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins";
    color: #faf9f6;
    padding: 0px 30px;
}

#navList {
    width: 20%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

#logo {
    text-decoration: none;
    color: #efffc8;
    font-size: 32px;
    letter-spacing: 3px;
}

#menuLink,
#contactLink,
#landingLink {
    text-decoration: none;
    color: #efffc8;
    letter-spacing: 5px;
}

#menuLink:hover,
#contactLink:hover,
#landingLink:hover {
    font-weight: bold;
    cursor: pointer;
}

/* ------------HEADER END ------------- */
