@import url(./poppins-loader.css);

/* ------------MAIN START ------------- */

#main {
    color: #faf9f6;
    font-family: "Poppins";
    display: flex;
    height: 100%;
}

#reviewDiv,
#taglineDiv {
    width: 50%;
    height: 80%;
}

#reviewDiv {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 0.7;
}

#reviewDiv h5 {
    font-style: italic;
    text-align: right;
    opacity: 0.5;
}

#taglineDiv {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 50px;
    margin-top: 50px;
}

#taglineDiv h1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 84px;
}

#buttonDiv {
    display: flex;
    justify-content: flex-end;
}

#orderButton {
    padding: 5px 10px;
    border-radius: 5px;
    border-style: none;
    background-color: transparent;
    border: 2px solid #50514f;
    color: #faf9f6;
    font-family: "Poppins";
    padding: 10px 20px;
    transition: border 0.2s;
}

#orderButton:hover {
    cursor: pointer;
    font-weight: bold;
    border: 2px solid #faf9f6;
}

/* ------------HEADER END ------------- */
/* ------------FOOTER START ------------- */

footer {
    text-align: right;
    color: #faf9f6;
    opacity: 0.3;
    font-size: 12px;
    padding: 0px 20px;
}

/* ------------FOOTER END ------------- */
