@import url(./poppins-loader.css);

/* ------------MAIN START ------------- */

#mainMenu {
    color: #faf9f6;
    font-family: "Poppins";
    display: flex;
    height: 100%;
    width: 60%;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-top: 10px;
    gap: 10px;
}

#pizzaDiv,
#pastaDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60%;
}

.itemDiv {
    border-bottom: 1px solid white;
}

#pizzaDiv p,
#pastaDiv p {
    font-style: italic;
}

#price {
    font-style: normal;
    text-align: right;
}

/* ------------HEADER END ------------- */
/* ------------FOOTER START ------------- */

footer {
    color: #faf9f6;
    font-size: 12px;
    padding: 0px 20px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

footer a {
    color: white;
    text-decoration: none;
}

/* ------------FOOTER END ------------- */
